.w-basic-heading--styledAs-h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}

.w-basic-heading--styledAs-h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}

.w-basic-heading--styledAs-h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}

.w-basic-heading--styledAs-h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}

.w-basic-heading--styledAs-h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

.w-basic-heading--styledAs-h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fec77e;
}

.heading {
  font-family: Exo, sans-serif;
  color: #cc2a41;
  font-size: 50px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-2 {
  font-family: Exo, sans-serif;
  color: #cc2a41;
  font-size: 180px;
  line-height: 200px;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.container-3 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.div-block-2 {
  width: 90vw;
  height: 5px;
  background-color: #cc2a41;
}

.heading-3 {
  margin-top: 40px;
  font-family: Exo, sans-serif;
  color: #2b3990;
  font-size: 60px;
  line-height: 55px;
}

.block-quote {
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Exo, sans-serif;
  color: #cc2a41;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

.grid {
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.container-4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  height: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #cc2a41;
  color: #cc2a41;
}

.video {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.background-video {
  overflow: visible;
  width: 60vw;
  margin-bottom: 40px;
}

.container-6 {
  margin-bottom: 20px;
}

.container-7 {
  margin-top: 0px;
  margin-bottom: 60px;
}

.image-2 {
  margin-right: 0px;
}

.image-3 {
  max-height: 50%;
  max-width: 60%;
  margin-bottom: 20px;
  margin-left: 140px;
}

.container-8 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-4 {
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: Exo, sans-serif;
  color: #cc2a41;
}

.text-block {
  font-family: Exo, sans-serif;
  color: #cc2a41;
  font-size: 16px;
  font-weight: 700;
}

.text-block-2 {
  font-family: Exo, sans-serif;
  color: #cc2a41;
  font-size: 16px;
  font-weight: 700;
}

.text-block-3 {
  font-family: Exo, sans-serif;
  color: #cc2a41;
  font-size: 16px;
  font-weight: 700;
}

.text-block-4 {
  font-family: Exo, sans-serif;
  color: #cc2a41;
  font-size: 16px;
  font-weight: 700;
}

#w-node-_50792cd8-9e05-5432-2ef1-4207f249ee4d-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a97bdb69-42d7-fc86-1f32-6ab0ede8e8c6-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_67b2e394-c7c1-01ff-ccf4-9cccd954e406-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_67b2e394-c7c1-01ff-ccf4-9cccd954e408-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b1f7f2b9-ad4f-4a97-cb44-34b20ccc33be-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_67b2e394-c7c1-01ff-ccf4-9cccd954e40b-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_67b2e394-c7c1-01ff-ccf4-9cccd954e40c-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_67b2e394-c7c1-01ff-ccf4-9cccd954e40e-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_97b8f65a-1676-fcf0-a7e6-040f3f086eb0-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3f0f374c-4c7b-367d-7637-45c4a61bf2bc-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_480ec35a-04c3-15b1-2e83-3c9567cedf72-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_383e55f5-1106-56a2-7e05-907157f9c391-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0d284b83-dfcf-45a6-7a4c-a840128dc817-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e6d7bc68-8e15-a746-3ded-05a57255b498-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5442aa94-5dc5-7d00-80a0-c60ae6b52b31-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ba71ef71-a5c7-d81a-1663-cee47850aed5-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_68b8a92b-f13b-56a0-1c48-17ced071cad6-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f0240c72-383d-a253-8252-b33f5e5446bd-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8e8f680c-5b15-882d-4d8e-14ca67316403-8cdc2434 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_89e5be20-4019-fc9a-c092-6fe8f1ca2776-8cdc2434 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_89e5be20-4019-fc9a-c092-6fe8f1ca2777-8cdc2434 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}